@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}
.container {
    width: 60%;
    margin: auto;
}
nav {
    background-color: black;
    text-transform: uppercase;
}
nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 24px;
}